@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

header {
  background-color: 0e183C;
}

.palt {
  font-feature-settings: 'palt';
}

/* ビューポート幅 375px 以下に有効 */
@media (width <= 375px) {
  h1 {
    font-size: 36px;
  }
}

/* ビューポート幅 375px 超～ 1280px 未満に有効 */
@media (375px < width < 1280px) {
  h1 {
    font-size: 36px;
  }
}

/* ビューポート幅 1280px 以上に有効 */
@media (1280px <= width) {
  h1 {
    font-size: 26px;
  }
}

/* ビューポート幅 375px 以下に有効 */
@media (width <= 375px) {
  h2 {
    font-size: 20px;
  }
}

/* ビューポート幅 375px 超～ 1280px 未満に有効 */
@media (375px < width < 1280px) {
  h2 {
    font-size: 24px;
  }
}

/* ビューポート幅 1280px 以上に有効 */
@media (1280px <= width) {
  h2 {
    font-size: 32px;
  }
}

/* ビューポート幅 375px 以下に有効 */
@media (width <= 375px) {
  h3 {
    font-size: 16px;
  }
}

/* ビューポート幅 375px 超～ 1280px 未満に有効 */
@media (375px < width < 1280px) {
  h3 {
    font-size: 16px;
  }
}

/* ビューポート幅 1280px 以上に有効 */
@media (1280px <= width) {
  h3 {
    font-size: 16px;
  }
}

/* ビューポート幅 375px 以下に有効 */
@media (width <= 375px) {
  p {
    font-size: 16px;
  }
}

.scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

.container::-webkit-scrollbar {
  display: none;
}
