@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


h1 {
  font-family: 'Roborto', 'M PLUS 1 Variable', sans-serif;
  font-weight: 800;
  font-size: 48px;
  line-height: 1.8;
}

h2 {
  font-family: 'Inter', 'M PLUS 1 Variable', sans-serif;
  font-size: 36px;
  line-height: 1.0;
  
}

h3 {
  font-family: 'Inter Variable' ,'Noto Sans JP Variable', sans-serif;
  font-weight: 800;
  font-size: 24px;
  line-height: 1.8;
}

h4 {
  font-family: 'Inter' ,'Noto Sans JP Variable', sans-serif;
  font-weight: 800;
  font-size: 12px;
  line-height: 1.8;
}

header {
  background-color: 0E183C;

}


.palt {
  font-feature-settings: "palt";
}
