---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SkillsList from '../components/SkillsList.astro';
import ToolsList from '../components/ToolsList.astro';
import Card from '../components/Card.astro';
import Hero from '../components/Hero.astro';
import Hero2 from '../components/Hero2.astro';

import ContactButton from '../components/ButtonLink.astro';
import ReactComponents from '../components/React.jsx';

const pageTitle = 'ホームページ';
---

<Layout title="Portfolio">
  <main class="">
    <Hero2 />
  </main>
  <script>
    import '../scripts/menu.js';
  </script>
</Layout>
