---
export interface Props {
  class: string;
}

const { class: className } = Astro.props;
---

<button class:list={['btn', className]}><slot /></button>

<style>
  .btn {
    position: relative;
    display: inline-block;
    font-weight: 700;
    white-space: nowrap;
    text-align: center;
    background-image: none;
    border: 2px solid transparent;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer;
    user-select: none;
    touch-action: manipulation;
    height: 36px;
    padding: 0 16px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  .btn:focus,
  .btn:hover {
    color: #fff;
  }

  .primary {
    color: #14726e;
    background-color: #d0ff4c;
    border-color: #b4f500;
  }

  .primary:focus,
  .primary:hover {
    color: #fff;
    background-color: #ff3c00;
    border-color: #ff0000;
  }

  .ghost {
    color: #fff;
    background-color: transparent;
    border-color: #fff;
  }

  .ghost:focus,
  .ghost:hover {
    color: #40a9ff;
    background-color: #;
    border-color: #40a9ff;
  }

  .dashed {
    color: #1890ff;
    background-color: transparent;
    border-style: dashed;
    border-color: #1890ff;
  }

  .dashed:focus,
  .dashed:hover {
    color: #40a9ff;
    background-color: #fff;
    border-color: #40a9ff;
  }

  .link {
    color: #1890ff;
    background-color: transparent;
    border-color: transparent;
  }

  .link:focus,
  .link:hover {
    color: #40a9ff;
    background-color: transparent;
    border-color: transparent;
  }

  .circle {
    width: 32px;
    height: 32px;
    padding: 0;
    border-radius: 50%;
  }

  .round {
    border-radius: 26px;
  }

  .block {
    display: block;
    width: 100%;
  }
</style>
