---
interface Props {
  card_number: string;
  title: string;
  body: string;
  href: string;
}

const { card_number, href, title, body } = Astro.props;

import { number } from 'astro/zod';
import ToolsIcon from './ToolsIcon.astro';
---

<a
  href={href}
  class="relative inline-block h-64 w-96 rounded-3xl bg-gainsboro px-8 pt-6"
>
  <span
    class="absolute -bottom-5 -right-5 inline-block overflow-visible font-sans text-9xl font-extrabold"
    >{card_number}</span
  >
  <div class="h-1/4 rounded-t-3xl">
    <span
      class="text-bg-green)] inline-block font-roboto text-3xl font-extrabold"
      >{title}</span
    >
  </div>
  <div class="">
    <p class="break-word text-bg-green font-sans text-lg font-light">{body}</p>
  </div>
</a>
