---
interface Props {
	date: string;
	company_name: string;
}

const { date, company_name } = Astro.props;
---
<div class="flex z-0 w-6/6 h-2/6 py-3 px-12 bg-gray-100 rounded-3xl bg-clip-padding backdrop-filter backdrop-blur-sm bg-opacity-80 border border-gray-300">
    <div class="flex mr-5 items-center justify-center">
        （ic）
    </div>    
    <p class="flex items-center justify-center">{date} : <br>
    {company_name} にお祈りされました</p>
</div>