---
interface Props {
	title: string;
	body: string;
	href: string;
}

const { href, title, body,} = Astro.props;

import ToolsIcon from './ToolsIcon.astro';
---
<a href={href} class="inline-block w-full h-full rounded-3xl px-8 pt-6">
	<div class="rounded-t-3xl w-full h-1/4" >
		<span class="inline-block text-3xl font-roboto font-extrabold text-hero-lime )]">{title}</span>
	</div>
	<div class="h-2/4">
		<p class="break-word font-sans font-light text-lg text-hero-lime">{body}</p>
	</div>
	<div class="h-1/4 relative">
		<div class="absolute flex gap-2 bottom-4 right-0">
			<ToolsIcon tool="Python" icon_color=bg-blue-900 />
			<ToolsIcon tool="html/css" icon_color=bg-hero-orange />
			<ToolsIcon tool="javascript" icon_color=bg-hero-orange />
		</div>	
	</div>
</a>