---
interface Props {
  card_number: string;
  title: string;
  body: string;
  href: string;
}

const { card_number, href, title, body } = Astro.props;

import { number } from 'astro/zod';
import ToolsIcon from './ToolsIcon.astro';
---

<a
  href={href}
  class="relative inline-block h-[120px] w-72 rounded-2xl bg-hero-lime px-8"
>
  <span
    class="absolute -bottom-5 -right-5 inline-block overflow-visible font-poppins text-4xl font-extrabold"
    >{card_number}</span
  >
  <div class="">
    <span class="text-bg-green inline-block font-sans text-xl font-bold"
      >{title}</span
    >
  </div>
  <div class="">
    <p class="break-word text-bg-green font-sans text-base font-light">
      {body}
    </p>
  </div>
</a>
