---
import Card from './Card.astro';
import ToolsIcon from './ToolsIcon.astro';
import Splide from '@splidejs/splide';
import '@splidejs/splide/css/sea-green';
---

<section class="splide" aria-label="Splideの基本的なHTML">
  <div class="splide__arrows your-class-arrows splide__arrows--ltr">
    <button
      class="splide__arrow your-class-arrow splide__arrow--prev your-class-prev"
      type="button"
      aria-label="Go to last slide"
      aria-controls="splide01-track"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 40 40"
        width="40"
        height="40"
        focusable="false"
        ><path
          d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
        ></path></svg
      ></button
    >
    <button
      class="splide__arrow your-class-arrow splide__arrow--next your-class-next"
      type="button"
      aria-label="Next slide"
      aria-controls="splide01-track"
      ><svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 40 40"
        width="40"
        height="40"
        focusable="false"
        ><path
          d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z"
        ></path></svg
      ></button
    >
  </div>

  <!-- 左右のグラデーション -->
  <!-- <div class="sp-gradation-left absolute left-0 top-0 z-10 h-full w-56"></div>
  <div class="sp-gradation-right absolute right-0 top-0 z-10 h-full w-56"></div> -->

  <!-- 本体 -->
  <div class="splide__track">
    <div class="splide__list">
      <li class="splide__slide">
        <div class="splide__slide__container">
          <Card
            card_number="1"
            href="#"
            title="Profile"
            body="海外では脚本の完成時点でヒット予測ができてしまうという。ネットフリックスのランキングが日本だけ独特すぎると話題になった。"
          />
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__slide__container">
          <Card
            card_number="2"
            href="#"
            title="業務効率化アプリ作成"
            body="就労移行支援事業所における毎月の書類作成を自動化するデスクトップアプリを作成してみた。"
          />
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__slide__container">
          <Card
            card_number="3"
            href="#"
            title="求人サイトから各種条件を抽出しリスト化してみた"
            body="deed"
          />
        </div>
      </li>
      <li class="splide__slide">
        <div class="splide__slide__container">
          <Card
            card_number="4"
            href="#"
            title="なんでもかんでも"
            body="ここにテキストが入ります"
          />
        </div>
      </li>
    </div>
  </div>
</section>

<style>
  .splide {
    min-width: 30px;
    height: 100%;
    width: 100%;
    padding: 0em 5em;
    /* background-color: #f8f8f8; */
  }

  .ul {
    padding: 0px;
  }

  .splide__track {
    width: 100%;
    height: 100%;
  }

  .splide__slide {
    margin: auto;
    opacity: 0.6; /* 左右のスライドを薄くする */
    transform: scale(1); /* 左右のスライドを小さくする */
    transition: 0.7s; /* ゆっくり小さくさせる */
  }

  /* アクティブなスライドのスタイル */
  .splide__slide.is-active {
    overflow: visible;
    opacity: 1; /* 中央のスライドは薄くしない */
    transform: scale(1); /* 中央のスライドは小さくしない */
    z-index: 1; /* 中央のスライドを一番上にする */
    background-size: cover;
  }

  .sp-gradation-right {
    background-image: linear-gradient(
      to right,
      rgba(255, 255, 255, 0) 0,
      #f8f8f8 60%
    );
  }

  .sp-gradation-left {
    background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0) 0,
      #f8f8f8 60%
    );
  }

  .splide__arrow--prev.your-class-prev {
    position: absolute;
    z-index: 20;
    top: 50%;
    left: 3%;
  }

  .splide__arrow--next.your-class-next {
    position: absolute;
    z-index: 20;
    top: 50%;
    right: 3%;
  }
</style>

<script>
  import Splide from '@splidejs/splide';
  import { AutoScroll } from '@splidejs/splide-extension-auto-scroll';

  const splide = new Splide('.splide', {
    type: 'loop',

    autoWidth: true,
    autoHeight: true,
    rewind: true,
    gap: '16px',
    focus: 'center',
    perPage: 1,

    autoScroll: {
      speed: 0.3,
    },
    interval: 3000,
    pauseOnHover: true,
    updateOnMove: true,
    padding: '0px',
    pagination: true,

    classes: {
      arrows: 'splide__arrows your-class-arrows',
      arrow: 'splide__arrow your-class-arrow',
      prev: 'splide__arrow--prev your-class-prev',
      next: 'splide__arrow--next your-class-next',
    },
  });

  document.addEventListener('DOMContentLoaded', function () {
    splide.mount({ AutoScroll });
  });
</script>
