---
import Navigation from './Navigation.astro';
import Humburger from './Humburger.astro';
import '../styles/global.css';
---

<header class="border-b-[1px] border-black bg-ne-blue">
  <div class="relative z-30 flex h-20 w-full items-center px-[16px]">
    <div class="logo flex px-4 font-poppins text-3xl text-white">
      <span class="font-serif text-3xl"></span>Dome
    </div>
    <Navigation />
    <Humburger />
  </div>
</header>

<script>
  import '../scripts/menu.js';
</script>
