---
import Navigation from './Navigation.astro';
import Humburger from './Humburger.astro';
import '../styles/global.css';
---

<header
  class="absolute top-0 z-10 flex h-[44px] w-full items-center border-b bg-slate-700"
>
  <div><h1 class="font-sans text-base font-semibold">K1MTDM</h1></div>

  <div class="ml-auto"><Navigation /></div>
  <div class="ml-auto h-full sm:hidden"><Humburger /></div>
</header>
