---
import Card from '../components/Card.astro';
import '../styles/global.css';
import CardOinori from './CardOinori.astro';
import Carousel from '../components/Carousel.astro';
import { Icon } from 'astro-iconify';

---

<div class="h-screen bg-back-green">
  <section class="h-screen grid grid-cols-4 grid-rows-6 mx-12 py-8">
    <div class="relative row-span-1 col-span-4 bg-light-green rounded-t-3xl">
      <nav class="flex items-center justify-between p-6 lg:px-8">
        <div class="flex mx-auto gap-10">
          <a href="#" class="text-2xl font-semibold leading-6 text-hero-lime">Home</a>
          <a href="#" class="text-2xl font-semibold leading-6 text-gray-100">About</a>
          <a href="#" class="text-2xl font-semibold leading-6 text-gray-100">Skill</a>
          <a href="#" class="text-2xl font-semibold leading-6 text-gray-100">Contents</a>
        </div>
      </nav>
      <div class="absolute right-5 top-3 font-bold text-3xl w-16 h-16 bg-hero-lime rounded-full text-hero-orange flex items-center justify-center"><Icon class="w-2/3 h-2/3 pb-1" name="hugeicons:hand-prayer" /></div>
      <h1 class="absolute left-16 bottom-0 font-sans text-hero-lime text-4xl">PORTFOLIO SITE</h1>
    </div>
    <div class="row-span-3 col-span-4 grid grid-cols-6 bg-light-green">
      <div class="col-span-2 h-full ml-16 ">
        <h2 class="font-sans text-hero-orange text-5xl leading-tight md:text-7xl font-bold mt-8 whitespace-nowrap">
          I will be<br>
          Data Engineer,<br>
          Data Scientist,<br>
          Digital Marketing,<br>
          maybe...
        </h2>
      </div>
      <div class="col-span-4">
          <Carousel />
      </div>
    </div>
    <div class="grid grid-rows-[auto_32px] row-span-1 col-span-2 bg-light-green rounded-b-3xl px-16">
      <div class="flex row-span-1 pt-3">
        <a href="#" class="flex-grow flex items-center justify-center bg-hero-orange rounded-full h-16 w-8 font-sans text-xl font-semibold text-white text-center ">Contact me</a>
        <a href="#" class="flex-auto flex items-center justify-center bg-hero-lime rounded-full h-16 w-8 font-sans text-xl font-semibold text-white mx-6">Contact me</a>
      </div>
      
    </div>
    <div class="grid grid-rows-[auto_16px_12px] col-span-2 bg-light-green">
      <div class="row-span-1 bg-back-green">      
        <ul class="w-full h-full bg-gradient-to-l from-light-green from-10% via-hero-lime to-light-green rounded-br-3xl flex flex-row-reverse gap-4 items-center pr-16 list-none">
          <li class=""><Icon class="mx-auto  h-12 w-12 text-hero-orange " name="mdi:github" /></li>
          <li class= ""><Icon class=" h-8 w-8 text-hero-orange " name="ri:twitter-x-line" /></li>
          <li class= ""><Icon class=" h-16 w-16 text-hero-orange" name="simple-icons:qiita" /></li>
        </ul>
      </div>
      <div class="rounded-tl-3xl bg-back-green row-span-1">
        

      </div>
      <div class="row-span-1 bg-back-green"></div>
    </div>
    <div class="row-span-2 col-span-2 flex flex-grow w-full px-0 py-8">
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-hero-lime tracking-widest text-sm mb-3">About</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-hero-lime hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-hero-lime hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-hero-lime hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-hero-lime hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
      <div class="lg:w-1/4 md:w-1/2 w-full px-4">
        <h2 class="title-font font-medium text-lime-300 tracking-widest text-sm mb-3">About</h2>
        <nav class="list-none mb-10">
          <li>
            <a class="text-hero-lime hover:text-gray-800">First Link</a>
          </li>
          <li>
            <a class="text-hero-lime hover:text-gray-800">Second Link</a>
          </li>
          <li>
            <a class="text-hero-lime hover:text-gray-800">Third Link</a>
          </li>
          <li>
            <a class="text-hero-lime hover:text-gray-800">Fourth Link</a>
          </li>
        </nav>
      </div>
    </div>
    <div class="row-span-2 col-span-2 px-16 font-sans">
      <p class="font-sans text-lg text-hero-lime">
        未経験からデジタルマーケティング領域への転職活動をめざすポートフォリオです。<br>
        データエンジニア、BIエンジニアでの採用を目指します。<br>
        採用担当者の方へ＋同じように未経験から転職を考えている方にむけて<br>
        学習と転職活動の履歴、失敗談を掲載しています。<br>
        不採用通知履歴（お祈りアラート）をリアルタイムで更新しています。
      </p>
    </div>

    

    
  </section>
</div>