---
import Card from '../components/Card.astro';
import CardOinori from './CardOinori.astro';
import Carousel from '../components/Carousel.astro';
import { Icon } from 'astro-iconify';
import ButtonLink from '../components/ButtonLink.astro';
import Vanta from './Vanta.astro';
import Navigation from './Navigation.astro';
import Layout from '../layouts/Layout.astro';
import ProgressBar from './ProgressBar.astro';
import Article from './Article.astro';
import Header from './Header.astro';
import Sidebar from './Sidebar.astro';
import ProfileCard from './ProfileCard.astro';
---

<div class="min-h-[500px] w-[100%] overflow-hidden">
  <div
    class="bg-[url('/src/images/alexis-fauvet-PXHnwEmFzrk-unsplash.jpg')] bg-cover"
  >
    <Header />
    <div class="relative h-[calc(100vh_-_120px)] min-h-[350px]">
      <div
        class="absolute right-0 z-50 mx-[32px] mb-[32px] h-[calc(80vh_-_152px)]"
      >
        <ProfileCard />
      </div>
      <div class="container grid h-full grid-cols-4 grid-rows-4 p-[48px]">
        <div class="order-3 col-span-2 row-span-1 flex-col">
          <h2
            class="m-plus-2-600 mt-[24px] text-wrap text-5xl font-medium text-[#fff] shadow-black drop-shadow-sm"
          >
          </h2>
          <h3 class="text-nowrap font-normal text-gray-300">
            (maybe) Desital Marketing Engineer
          </h3>

          <div class="mt-auto flex h-fit gap-2">
            <ButtonLink class="round ghost mt-auto font-sans"
              >About me</ButtonLink
            >
            <ButtonLink class="round ghost mt-auto font-sans"
              >Contact</ButtonLink
            >
          </div>
        </div>
        <div class="order-1 col-span-2 row-span-4 h-full overflow-hidden">
          <h1 class="m-plus-2-800 text-5xl text-white">Portfolio</h1>
          <h3 class="text-nowrap font-normal text-gray-300">
            Hello, I'm Keiichi M, learning Data Engineering.<br />
            Let's decording me!
          </h3>
        </div>
        <div class="order-2 col-span-2 row-span-5 h-full overflow-hidden"></div>
      </div>
    </div>
  </div>
</div>
<div class="h-[100vh] w-[100%] overflow-hidden"></div>
