---
import Card from '../components/Card.astro';
import CardOinori from './CardOinori.astro';
import Carousel from '../components/Carousel.astro';
import { Icon } from 'astro-iconify';
import ButtonLink from '../components/ButtonLink.astro';
import Vanta from './Vanta.astro';
import Navigation from './Navigation.astro';
import Layout from '../layouts/Layout.astro';
import ProgressBar from './ProgressBar.astro';
import Article from './Article.astro';
---

<div class="flex">
  <div
    class="relative z-0 h-auto w-screen bg-white pt-[44px] md:h-screen md:min-h-[600px]"
  >
    <!-- ナビゲーションバー -->
    <Navigation />
    <div class="container h-full w-full bg-white" id="">
      <div class="h-full">
        <section
          class="grid h-full grid-cols-6 grid-rows-6 rounded-3xl md:flex-none md:grid-rows-12"
        >
          <!-- タイトルエリア -->

          <div
            class="z-0 order-1 col-span-6 row-span-2 flex-1 overflow-hidden overflow-y-hidden md:col-span-2 md:row-span-5"
          >
            <div
              class="relative z-10 flex flex-col items-center justify-center border-[px] py-[44px] lg:py-[24px]"
            >
              <div class="">
                <h1 class="palt font-mont font-bold leading-none text-black">
                  Portfolio
                </h1>

                <p class="mt-0 font-sans text-2xl font-medium">
                  (will be) Data Engineer,Analyst & Digital Marketing
                </p>
                <h2 class="font-mont font-semibold text-gainsboro">
                  2023-2024
                </h2>
              </div>
            </div>
          </div>

          <!-- 上段中央余白 -->
          <!-- <div class="order-2 col-span-1 row-span-5 hidden md:block"></div> -->

          <!-- 上段右 成果物エリア -->

          <div
            class="relative order-3 col-span-6 row-span-5 hidden py-4 pl-4 md:col-span-4 md:block"
          >
            <Vanta>
              <div
                class="flex h-full items-center overflow-hidden border-[1px] border-black px-7 outline outline-1 outline-offset-4 outline-black"
              >
                <div
                  class="z-20 ml-auto h-64 w-80 items-center rounded-xl border border-gray-100/30 bg-slate-50 bg-opacity-30 px-4 py-6 shadow-lg backdrop-blur-xl"
                >
                  <h4 class="font-sans">最終更新日 : 2024-08-07</h4>
                  <p></p>
                </div>
              </div>
            </Vanta>
          </div>

          <!-- プロフィール -->
          <div
            class="order-4 col-span-6 row-span-2 flex h-full w-full flex-col border-t-[1px] border-black py-8 pr-8 md:order-5 md:col-span-2 md:row-span-7 lg:py-4"
          >
            <h3 class="font-poppins font-semibold text-black md:mb-0 md:mt-0">
              About this site
            </h3>
            <p class="text-balance">
              未経験からデータ分析、デジタルマーケティング領域への転職の為に作成したポートフォリオサイトです。
              主にPythonによるデータ分析、可視化を目的とした成果物を公開しています。
              またエンジニアポートフォリオサイト作成の記録、及び転職活動の記録（不採用通知）も残しています。
              採用担当者様はもちろん、同じように未経験から転職を考えている方にとって有意義な内容になっていると思います。
            </p>
            <div>
              <h3 class="font-poppins my-3 font-semibold text-black">
                Profile
              </h3>
              <p>氏名：非公開</p>
              <p>1990年生まれ</p>
              <p>福岡県出身、大阪府在住</p>
              <p>経歴:主にサービス業</p>
            </div>
          </div>

          <!-- 下段中 -->
          <div class="order-3 col-span-4 row-span-7">
            <div
              class="flex h-full w-full flex-wrap items-stretch gap-3 py-3 pl-4"
            >
              <!-- ABOUT -->
              <div
                class="order-0 h-[200px] w-[calc(75%-0.75rem)] rounded-3xl border-[1px] border-black bg-black p-8 outline outline-[1px] -outline-offset-4 outline-white"
              >
                <h3 class="font-poppins font-medium text-[#ffffff]">
                  About this site
                </h3>
                <p class="text-wrap text-base text-white">
                  未経験からデータ分析、デジタルマーケティング領域への転職の為に作成したポートフォリオサイトです。
                  主にPythonによるデータ分析、可視化を目的とした成果物を公開しています。
                  またエンジニアポートフォリオサイト作成の記録、及び転職活動の記録（不採用通知）も残しています。
                  採用担当者様はもちろん、同じように未経験から転職を考えている方にとって有意義な内容になっていると思います。
                </p>
              </div>
              <!--  -->
              <div
                class="order-1 h-auto w-[25%] rounded-3xl border-[1px] border-black bg-ne-green outline outline-[1px] -outline-offset-4 outline-black"
              >
                <h3></h3>
              </div>
              <div
                class="order-2 h-[160px] w-[25%] rounded-3xl border-[1px] border-black bg-ne-green outline outline-[1px] -outline-offset-4 outline-black"
              >
              </div>
              <div
                class="order-3 w-[calc(50%-1.5rem)] rounded-3xl border-[1px] border-black bg-black p-8 outline outline-[1px] -outline-offset-4 outline-white"
              >
                <h3 class="font-poppins font-medium text-[#ffffff]">Skills</h3>
                <ProgressBar class="w-[80%]" progress="80" />
              </div>
              <!-- SKILL -->
              <div class="order-4 w-[25%] bg-slate-400">
                <ProgressBar class="w-[80%]" progress="80" />
              </div>
              <div
                class="order-5 flex h-[10%] w-full rounded-full border-2 border-black bg-white"
              >
                <div
                  class="relative flex h-full w-full items-center justify-center overflow-x-hidden font-sans font-bold"
                >
                  <div class="animate-marquee whitespace-nowrap">
                    <span class="mx-4 text-base sm:text-xl"
                      >最終更新日:2024-7-24</span
                    >
                    <span class="mx-4 text-base sm:text-xl"
                      >お祈りカウントリアルタイム公開中→</span
                    >
                  </div>
                  <div class="animate-marquee2 whitespace-nowrap">
                    <span class="mx-4 text-base sm:text-xl"
                      >最終更新日:2024-7-24</span
                    >
                    <span class="mx-4 text-base sm:text-xl"
                      >お祈りカウントリアルタイム公開中→</span
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
      </div>

      <!-- コンタクトボタンエリア -->
    </div>
  </div>
</div>

<div
  class="order-0 absolute z-20 hidden h-screen w-[60px] flex-none flex-col border-l-[1px] border-black bg-white md:block"
>
  <div class="h-1/3"></div>
  <div class="flex h-1/3 justify-center">
    <p
      class="mx-auto inline-block w-fit font-sans text-xl [writing-mode:vertical-rl]"
    >
      keiichi mitsudome<br />portfolio site
    </p>
  </div>
  <div class=""></div>
  <div class="mt-auto flex h-1/3 w-full flex-col items-end justify-end pb-8">
    <div class="mx-auto mb-3">
      <Icon class="h-8 w-8 text-black" name="ri:twitter-x-line" />
    </div>
    <div class="mx-auto mb-3">
      <Icon class="h-10 w-10 text-black" name="simple-icons:qiita" />
    </div>
    <div class="mx-auto">
      <Icon class="h-9 w-9 text-black" name="simple-icons:github" />
    </div>
  </div>
</div>

<!-- <div
    class="relative z-0 h-[320px] w-[30vw] overflow-hidden rounded-3xl border-2 border-black bg-white outline outline-2 outline-offset-2 outline-black sm:block"
  >
    <Vanta>
      <div class="h-[100%] w-[100%]">
        <Carousel />
      </div>
    </Vanta>
  </div> -->
