---
import Card from '../components/Card.astro';
import CardOinori from './CardOinori.astro';
import Carousel from '../components/Carousel.astro';
import { Icon } from 'astro-iconify';
import ButtonLink from '../components/ButtonLink.astro';
import Vanta from './Vanta.astro';
import Navigation from './Navigation.astro';
import Layout from '../layouts/Layout.astro';
import ProgressBar from './ProgressBar.astro';
import Article from './Article.astro';
import Header from './Header.astro';
import Sidebar from './Sidebar.astro';
import ProfileCard from './ProfileCard.astro';
---

<Sidebar />
<Header />

<div
  class="absolute top-0 z-0 h-screen w-screen pt-20 md:min-h-[600px] md:pr-[67px]"
>
  <div class="h-[40vh] w-full p-[16px]">
    <div class="h-full w-full">
      <div
        class="grid h-full grid-cols-2 bg-[url('/src/images/alexis-fauvet-PXHnwEmFzrk-unsplash.jpg')] bg-cover p-[24px]"
      >
        <div class="order-1 flex flex-col">
          <h1
            class="text-nowrap font-poppins font-medium leading-none text-[#fff] shadow-black drop-shadow-sm"
          >
            Portfolio<span
              class="text-nowrap text-3xl font-medium text-gray-300"
            >
              <span class="">Mar.</span> 2023 - present
            </span>
          </h1>
          <h2 class="font-normal leading-none text-gray-300">
            Desital Marketing
          </h2>
          <h2 class="font-normal leading-none text-gray-300">Data Engineer</h2>

          <div class="mt-auto flex h-fit gap-2">
            <ButtonLink class="round ghost mt-auto font-sans"
              >About me</ButtonLink
            >
            <ButtonLink class="round ghost mt-auto font-sans"
              >Contact</ButtonLink
            >
          </div>
        </div>
        <div class="order-2 ml-auto flex h-full flex-col items-end justify-end">
          <div class="flex flex-1 bg-slate-500"></div>
          <div class="flex flex-1 bg-blue-400"></div>
          <div class="flex-1"></div>

          <div class="flex flex-col items-end gap-0 text-xl text-white">
            <h5 class="font-semibold">Github</h5>
            <h5 class="font-semibold">Speakerdeck</h5>
            <h5 class="font-semibold">Twitter / X</h5>
            <!-- <Icon class="h-8 w-8 text-white" name="ri:twitter-x-line" />
            <Icon class="h-8 w-8 text-white" name="simple-icons:github" />
            <Icon
              class="h-9 w-9 leading-3 text-white"
              name="simple-icons:speakerdeck"/> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- about -->

  <div class="flex h-[50vh] flex-col px-[16px]">
    <article
      class="group/card relative flex flex-1 flex-col overflow-hidden text-nowrap border-b-[1px] border-black px-8 text-black transition-all duration-1000 ease-in-out hover:flex-[50%] hover:bg-sky-900"
    >
      <h2
        class="my-auto w-full font-poppins text-3xl font-bold group-hover/card:top-0 group-hover/card:my-4 group-hover/card:text-hero-lime"
      >
        About this site
      </h2>
      <p
        class="hidden text-wrap text-lg text-white group-hover/card:inline-block"
      >
        未経験からWebマーケティング領域（データエンジニア）への転職を目的としたポートフォリオサイトです。
        約2年間の学習（独学）の成果、及びスキルを公開しています。
        また、学習方法や転職活動の記録も公開していますので失敗談も含め参考にしてください。
      </p>
      <h3
        class="hidden text-wrap text-lg text-white group-hover/card:inline-block"
      >
        キーワード
      </h3>
      <p
        class="hidden text-wrap text-lg text-white group-hover/card:inline-block"
      >
        Python,データ分析,SQL,統計
      </p>
    </article>
    <article
      class="group/card relative flex flex-1 flex-col overflow-hidden text-nowrap border-b-[1px] border-black px-8 text-black transition-[flex] duration-1000 ease-in-out hover:flex-[70%] hover:bg-sky-900"
    >
      <h2
        class="my-auto w-full font-poppins text-3xl font-bold group-hover/card:top-0 group-hover/card:my-4 group-hover/card:text-orange-600"
      >
        Profile
      </h2>
      <div class="hidden text-wrap text-xl group-hover/card:inline-block">
        <ul class="font-sans text-white">
          <li>氏名： 満留慶一</li>
          <li>生年： 1990年</li>
          <li>出身： 福岡県北九州市</li>
          <li>趣味： 映画鑑賞</li>
          <li></li>
        </ul>
        <ProgressBar class="w-[80%]" progress="80" />
        <ProgressBar class="w-[60%]" progress="60" />
      </div>
    </article>
    <article
      class="-mb-10 flex flex-1 overflow-hidden text-nowrap px-8 text-black"
    >
      <h2
        class="my-auto font-poppins text-3xl font-bold group-hover/card:top-0"
      >
        Work
      </h2>
    </article>
    <div class="relative h-[20vh] border-b-[1px] border-black">
      <Carousel />
    </div>
    <article
      class="group/card relative flex flex-1 overflow-hidden text-nowrap border-b-[1px] border-black px-8 text-black transition-[flex] duration-700 ease-in-out hover:flex-[70%] hover:bg-hero-lime"
    >
      <h2
        class="my-auto font-poppins text-3xl font-bold group-hover/card:top-0"
      >
        Actions
      </h2>
      <h4
        class="absolute top-24 mx-8 hidden text-wrap text-xl group-hover/card:inline-block"
      >
        イチジク
        ‘とよみつひめ’の果実発育期における気温変動に対する生育特性について。
      </h4>
    </article>
    <article
      class="group/card relative flex flex-1 overflow-hidden text-nowrap px-8 text-black transition-[flex] duration-700 ease-in-out hover:bg-hero-lime"
    >
      <h2
        class="my-auto font-poppins text-3xl font-bold group-hover/card:top-0"
      >
        Contact
      </h2>
    </article>
  </div>
</div>
