---
import Card from '../components/Card.astro';
import '../styles/global.css';
import CardOinori from './CardOinori.astro';

---

<div id="hero" class="h-screen bg-cover z-0 bg-[url('/src/images/alexis-fauvet-PXHnwEmFzrk-unsplash.jpg')]">
    <div class="container p-12 mx-auto grid md:grid-cols-3 md:grid-rows-3 h-full grid-cols-1 grid-rows-1">
      <div class="flex flex-auto md:col-span-2 row-span-2 items-center justify-center sm:ml-24 sm:justify-start lg:start-center">
        <div class="z-10">
          <h1 class="text-left text-white whitespace-pre max-w-4xl mb-4 text-5xl font-extrabold tracking-tight leading-none sm:text-6xl md:text-7xl dark:text-white">
            30代、未経験から<br>エンジニア転職を目指す<br>ポートフォリオサイト
          </h1>
          <p class=" text-white whitespace-nowrap max-w-3xl text-3xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-4xl dark:text-white">
            <span class="text-ne-blue">LOOK AT MY</span><span class="text-ne-green"> FAIL!!</span>
          </p>
          <p class="text-3xl bg-clip-content w-fit bg-black text-white font-bold">失敗談＆お祈り通知履歴 公開中</p>
      
        </div>
      </div>
      <div class="flex flex-row invisible md:visible md:col-span-1 md:row-span-2 mt-10 ml-auto">
        <div class="flex flex-col h-full drop-shadow">
            
            <ul class="flex-col flex-glow text-xl leading-normal mt-8 ml-auto max-w-md space-y-3 text-gray-800 list-inside dark:text-gray-400 font-medium drop-shadow">
                
                <CardOinori
                    date="2024-00-00"
                    company_name='〇〇株式会社'
                
                />
                <CardOinori
                    date="2024-00-00"
                    company_name='〇〇株式会社'
                
                />
                <CardOinori
                    date="2024-00-00"
                    company_name='〇〇株式会社'
                
                />
            </ul>
            
        </div>
      </div>
        
        

        <div class="invisible md:visible ml-24">
            <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-2xl px-5 py-2.5 text-center me-2 mb-2">Purple to Blue</button>
            <button type="button" class="text-white bg-gradient-to-br from-purple-600 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-2xl px-5 py-2.5 text-center me-2 mb-2">Purple to Blue</button>
        </div>
            


  
        
      
        


      <div class="invisible md:visible">
        
        
      </div>
    </div>
  </div>