---

---

<div class="hamburger flex h-full w-[44px] cursor-pointer items-center">
  <div class="btn-trigger flex-none" id="btn07">
    <span></span>
    <span></span>
    <span></span>
  </div>
</div>

<style>
  .btn-trigger {
    position: relative;
    width: 50px;
    height: 34px;
    cursor: pointer;
  }
  .btn-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
  }
  .btn-trigger,
  .btn-trigger span {
    display: inline-block;
    transition: all 0.5s;
    box-sizing: border-box;
  }
  .btn-trigger span:nth-of-type(1) {
    top: 0;
  }
  .btn-trigger span:nth-of-type(2) {
    top: 15px;
  }
  .btn-trigger span:nth-of-type(3) {
    bottom: 0;
  }

  #btn07 span:nth-of-type(1) {
    -webkit-animation: btn07-bar01 0.75s forwards;
    animation: btn07-bar01 0.75s forwards;
  }
  @-webkit-keyframes btn07-bar01 {
    0% {
      -webkit-transform: translateY(15px) rotate(45deg);
    }
    50% {
      -webkit-transform: translateY(15px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
    }
  }
  @keyframes btn07-bar01 {
    0% {
      transform: translateY(15px) rotate(45deg);
    }
    50% {
      transform: translateY(15px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
  #btn07 span:nth-of-type(2) {
    transition: all 0.25s 0.25s;
    opacity: 1;
  }
  #btn07 span:nth-of-type(3) {
    -webkit-animation: btn07-bar03 0.75s forwards;
    animation: btn07-bar03 0.75s forwards;
  }
  @-webkit-keyframes btn07-bar03 {
    0% {
      -webkit-transform: translateY(-15px) rotate(-45deg);
    }
    50% {
      -webkit-transform: translateY(-15px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(0) rotate(0);
    }
  }
  @keyframes btn07-bar03 {
    0% {
      transform: translateY(-15px) rotate(-45deg);
    }
    50% {
      transform: translateY(-15px) rotate(0);
    }
    100% {
      transform: translateY(0) rotate(0);
    }
  }
  #btn07.active span:nth-of-type(1) {
    -webkit-animation: active-btn07-bar01 0.75s forwards;
    animation: active-btn07-bar01 0.75s forwards;
  }
  @-webkit-keyframes active-btn07-bar01 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(15px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(15px) rotate(45deg);
    }
  }
  @keyframes active-btn07-bar01 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(15px) rotate(0);
    }
    100% {
      transform: translateY(15px) rotate(45deg);
    }
  }
  #btn07.active span:nth-of-type(2) {
    opacity: 0;
  }
  #btn07.active span:nth-of-type(3) {
    -webkit-animation: active-btn07-bar03 0.75s forwards;
    animation: active-btn07-bar03 0.75s forwards;
  }
  @-webkit-keyframes active-btn07-bar03 {
    0% {
      -webkit-transform: translateY(0) rotate(0);
    }
    50% {
      -webkit-transform: translateY(-15px) rotate(0);
    }
    100% {
      -webkit-transform: translateY(-15px) rotate(-45deg);
    }
  }
  @keyframes active-btn07-bar03 {
    0% {
      transform: translateY(0) rotate(0);
    }
    50% {
      transform: translateY(-15px) rotate(0);
    }
    100% {
      transform: translateY(-15px) rotate(-45deg);
    }
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.btn-trigger');

    buttons.forEach((button) => {
      button.addEventListener('click', () => {
        button.classList.toggle('active');
      });
    });
  });
</script>
