<div class="w-3/4 h-3/4 pt-12 px-12 bg-lime-400 ml-auto shadow-[-5px_-5px_15px_rgba(0,250,0,0)] shadow-current">
    <h3 class="font-sans font-bold text-xl mb-3">田中 太郎</h3>
    <table class="font-sans font-semibold">
      <tr>
        <td>1990</td>
        <td>福岡県北九州市生まれ</td>
      </tr>
      <tr>
        <td>2008</td>
        <td>高校中退＆09年上京</td>
      </tr>
      <tr>
        <td>2009~</td>
        <td>フリーター生活</td>
      </tr>
      <tr>
        <td>2023</td>
        <td>学習開始</td>
      </tr>
    </table>

    <p>福岡県北九州市生まれ。曖昧なこと
    </p>

  </div>